{% extends 'articles/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <!-- my css -->
    <link rel="stylesheet" href="{% static 'articles/css/add-annotation.css' %}">
    <link rel="stylesheet" href="{% static 'articles/css/header-footer.css' %}">
    <link href="{% static 'users/libs/air-datepicker/css/datepicker.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{5 static 'users/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <img class="img-fluid w-100" src="{% static 'articles/img/add-annotatoin-landing.png' %}" alt="" srcset="">
    </div>
    <!-- end jumbotron -->


    <!-- form annotation -->
    <section class="add-annotation">
      <div class="container-fluid">
        <div class="row justify-content-md-center">
          <div class="col-md-8">
            <h3>ADD ANNOTATION</h3>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-8 form-annotation">
            <form action="" method="POST">
              {% csrf_token %}
                 <div class="col-sm-11">{{form|crispy }}</div>
                 <div class="col-sm-10">
                    <input class="btn btn-danger" type="submit" value="submit">
                 </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- end form annotation -->

{% endblock %}
{% block js%}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'users/libs/air-datepicker/js/datepicker.min.js' %}"></script>
<script src="{% static 'users/libs/air-datepicker/js/i18n/datepicker.en.js' %}"></script>
<script src="{% static 'users/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'users/libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
<script src="{% static 'users/js/pages/form-advanced.init.js' %}"></script>
{% endblock %}