{% extends 'articles/base.html' %}
{% load static %}

{% block meta %}
<meta property="og:title" content="{{abstracts.judul}} ">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:site_name" content="Jaringan Penelitian HIV Indonesia">
<meta property="og:image" content="">
<meta property="og:description" content="{{ abstracts.bibliography | safe }}">
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{%  static 'articles/css/detail.css' %}">
    <link rel="stylesheet" href="{%  static 'articles/css/index.css' %}">

{% endblock %}

{% block content %}
 <!-- header 2 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sub-nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">ANNOTATED BIBLIOGRAPHY <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'anot-epidemology' %}">EPIDEMOLOGY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'anot-biomedicine' %}">BIOMEDICINE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'anot-health' %}">HEALTH ECONOMIC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'anot-policy' %}">POLICY STUDY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'anot-social' %}">SOCIAL-BEHAVIORAL</a>
          </li>

        </ul>
      </div>
    </nav>
    <!-- end header 2 -->


    <section class="artikel">
        <div class="container">
					<div class="row">
						<div class="col-md-7 offset-md-1">
							<hr>

							<!-- Nav -->
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item">ANNOTATED BIBLIOGRAPHY</li>
									<li class="breadcrumb-item active" aria-current="page">{{abstracts.kategori.Kategori |upper}}</li>
								</ol>
							</nav>
							<!-- END NAV -->

							<h1>{{abstracts.judul}}</h1>
              <hr class="space-title">

              <div class="d-flex bd-highlight">
                <div class="bd-highlight w-30">
                  <ul class="list-unstyled ">
                    <li class="list-item"><i><img src="{% static 'articles/img/autor.svg' %}" alt="" srcset=""></i>
						{% for tag in abstracts.Author.all %}
                            <a href="/author/{{ tag.name | slugify}}" class="autor">  {{ tag.name }},</a>
						{% endfor %}
					</li>
						<li class="list-item"><i><img src="{% static 'articles/img/majalah.svg' %}" alt="" srcset=""></i>{{ abstracts.sumber }}</li>
                    <li class="list-item"><i><img src="{% static 'articles/img/newspaper.svg' %}" alt="" srcset=""></i>{{ abstracts.volume }}</li>
                    <li class="list-item"><i><img src="{% static 'articles/img/website.svg' %}" alt="" srcset=""></i>{{ abstracts.url }}</li>
                  </ul>
                </div>
                <div class="bd-highlight">
                  <ul class="list-unstyled">
                    <li class="list-item"><i><img src="{% static 'articles/img/date.svg' %}" alt="" srcset=""></i>{{ abstracts.tgl }}</li>
                    <li class="list-item"><i><img src="{% static 'articles/img/id-card.svg' %}" alt="" srcset=""></i>{{ abstracts.DOI }}</li>
                    <li class="list-item"><i><img src="{% static 'articles/img/document.svg' %}" alt="" srcset=""></i>{{ abstracts.doctype }}</li>
                  </ul>
                </div>
				<div class="bd-highlight ml-auto">
                  <ul class="list-unstyled">
                    <li class="list-item annotated">Annotated by </li>
                    <li class="list-item user">{{abstracts.added_by.first_name}} {{abstracts.added_by.last_name}}</li>
                    <li class="list-item institusi">[{{abstracts.added_by.Organisasi}}]</li>
                  </ul>
                </div>
              </div>
                {% if abstracts.download == not empty %}
				<a href="/MEDIA/{{abstracts.download}}"><button type="button" class="btn btn-danger btn-sm"><i><img src="{% static 'articles/img/download-light.svg' %}" alt="" srcset=""></i>Unduh</button></a>
              	<button type="button" class=" btn btn-outline-danger btn-sm" data-clipboard-target="#bibliotext">SALIN BIBLIOGRAPHY</button>
                 {% else %}
                <button type="button" class=" btn btn-outline-danger btn-sm" data-clipboard-target="#bibliotext">SALIN BIBLIOGRAPHY</button>
                 {% endif %}
              	<h6 class="biblio" >BIBLIOGRAPHY</h6>
              	<span class="p-biblio pl-4" id="bibliotext">
					{{abstracts.bibliografi |safe}}
              	</span>
				<h6 class="abstrak">ABSTRAK</h6>
				<span>{{abstracts.anotated |safe}}</span>
            </div>


						<!-- MATRIK -->
						<div class="col-md-2 offset-md-1 matrik">
							<hr>
							<h5 >MATRIX</h5>
							<i><img src="{% static 'articles/img/download-matrik.svg' %}" alt="" srcset=""></i>
							<h3>921 kali</h3>
							<i><img src="{% static 'articles/img/eye.svg' %}" alt=""srcset=""></i>
							<h3>1.043 kali</h3>
							<hr>
							<h5 class="abstrak">ABSTRAK YANG BERHUBUNGAN</h5>
							{% for a in related %}
							<a href="/abstract/{{a.judul | slugify | lower}}"><h6>{{a.judul}}
							</h6></a>
							{% endfor %}
						</div>
						<!-- END MATRIK -->
					</div>
        </div>
      </section>
      

   {% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script type="text/javascript">
var clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function(e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);

        e.clearSelection();
    });

    clipboard.on('error', function(e) {
        console.error('Action:', e.action);
        console.error('Trigger:', e.trigger);
    });

</script>
{% endblock %}