{% extends 'articles/base.html' %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href="{% static 'articles/css/index.css' %}">
{% endblock %}

{% block title %}
<title>JPHIV Indonesia</title>
{%  endblock %}

{% block content %}
    <!-- header 2 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sub-nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">ABSTRACT <span class="sr-only">(current)</span></a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'abstract-epidemology' %}">EPIDEMOLOGY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'abstract-biomedicine' %}">BIOMEDICINE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'abstract-health' %}">HEALTH ECONOMIC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'abstract-policy' %}">POLICY STUDY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'abstract-social' %}">SOCIAL-BEHAVIORAL</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto popular-search">
          <li class="nav-item active">
            <a class="nav-link" href="#">POPULAR SEARCH <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'abstract-epidemology' %}">EPIDEMOLOGY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'abstract-biomedicine' %}">BIOMEDICINE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'abstract-health' %}">HEALTH ECONOMIC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'abstract-policy' %}">POLICY STUDY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'abstract-social' %}">SOCIAL-BEHAVIORAL</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end header 2 -->

    <!-- jumbotron -->
    <section class="landing">
      <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid" style="
        background-image: url({% static 'articles/img/landing-index.png' %});
        background-size: cover;
        background-repeat: no-repeat;">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-2">
                <div class="media">
                  <img src="{% static 'articles/img/epidemiology.png' %}" class="align-self-center mr-1" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0">EPIDEMIOLOGI</h5>
                    <h1>{{epidemoc}}</ph1>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="media">
                  <img src="{% static 'articles/img/biomedicine.png' %}" class="align-self-center mr-1" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0">BIOMEDICINE</h5>
                    <h1>{{biomedc}}</ph1>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="media">
                  <img src="{% static 'articles/img/health economic.png' %}" class="align-self-center mr-1" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0">HEALTH ECONOMIC</h5>
                    <h1>{{healecoc}}</ph1>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="media">
                  <img src="{% static 'articles/img/policy-study.png' %}" class="align-self-center mr-1" alt="...">
                  <div class="media-body">
                    <h5>POLICY STUDY</h5>
                    <h1>{{polstudc}}</ph1>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="media">
                  <img src="{% static 'articles/img/social-behavioral.png' %}" class="align-self-center mr-1" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0">SOCIAL BEHAVIORAL</h5>
                    <h1>{{socbehc}}</h1>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="row justify-content-md-center title">
              <div class="col-md-2">
                <img src="{% static 'articles/img/logo/Logohome.png' %}" alt="" srcset="" style="height:50px">
              </div>
              <div class="col-md-6">
                <h6 class="landing-title">JPHI mengindeks jurnal ilmiah, buku-buku, laporan penelitian, makalah kebijakan, makalah konferensi, dan data primer
                  dari universitas, badan penelitian, lembaga pemerintahan, dan penerbit yang berkaitan dengan HIV AIDS.</h6>
              </div>
            </div>
              <div class="row justify-content-md-center main-search">
                <div class="col-md-8">
                  <form action="/cari/" method="GET">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i><img src="{% static 'articles/img/search-landing.svg' %}" alt=""></i></div>
                      </div>
                      <input type="search" name="q" class="form-control"  placeholder="looking for something?">
                    </div>
                  </form>
                </div>
              </div>
              <div class="row justify-content-md-center align-items-end read-more">
                <div class="d-flex justify-content-center  align-items-end">
                  <h6>Read more about <span>JPHI License and Agreement</span> </h6>
                </div>
                <!-- <div class="col-md-2">
                  <h6>Read more about <span>JPHI License and Agreement</span> </h6>
                </div> -->
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end jumbotron -->

    <!-- new entri -->
    <section>
      <div class="container new-entry">
        <div class="d-flex justify-content-between">
          <h3>NEW ABSTRACT</h3>
          <a href="{% url 'abstract' %}"><button type="button" class="btn btn-danger btn-sm">{{ abstractC }} jumlah abstrak</button></a>
        </div>
        <hr>
        <div class="row row-cols-md-3">
          {% for abstract in abstracts %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <a href="abstract/{{abstract.judul | slugify}}/" class="card-title">{{abstract.judul}}</a>
                <h6 class="autor"><i><img src="{% static 'articles/img/autor.svg' %}" alt="" srcset=""></i>
                {% for tag in abstract.authors.all %}
                    <a href="/author/{{ tag.name | slugify}}" style="font-size: x-small;">{{ tag.name }}</a>
                {% endfor %}
                </h6>
                <h6 class="date"><i><img src="{% static 'articles/img/date.svg' %}" alt=""></i> {{abstract.tgl}}</h6>
                <p class="card-text">{{abstract.abstrak | truncatechars:"200" |safe}}</p>
              </div>
              <div class="card-footer">
                <ul class="list-inline">
                  {% if object.download == not empty %}
                  <li class="list-inline-item"><i><img src="{% static 'articles/img/download.svg' %}" alt=""></i><a href="/MEDIA/{{object.download}}">Unduh</a></li>
                  <li class="list-inline-item"><i><img src="{% static 'articles/img/share.svg' %}" alt=""></i><a href="http://www.facebook.com/share.php?u=http://jphiv-ina.net/annotated-bibliography/{{ object.judul | slugify | lower }}">Bagikan</a></li>
                  {% else %}
                  <li class="list-inline-item"><i><img src="{% static 'articles/img/share.svg' %}" alt=""></i><a href="http://www.facebook.com/share.php?u=http://jphiv-ina.net/annotated-bibliography/{{ object.judul | slugify | lower }}">Bagikan</a></li>
                  {% endif %}
                </ul>
                <hr>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>


    <section class="new-anno-bibl new-entry">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <h3>NEW ANNOTATED BIBLIOGRAPHY</h3>
            <hr>
            <div class="row row-cols-md-3">
              {% for abstract in anotates %}
              <div class="col-md-4 mb-4">
                <div class="card h-100">
                  <div class="card-body">
                    <a href="annotated-bibliography/{{abstract.judul | slugify}}/" class="card-title">{{abstract.judul}}</a>
                    <h6 class="autor"><i><img src="{% static 'articles/img/autor.svg' %}" alt="" srcset=""></i>
                    {% for tag in abstract.Author.all %}
                      <a href="/author/{{ tag.name | slugify}}" style="font-size: x-small;">{{ tag.name }}</a>
                    {% endfor %}
                    </h6>
                    <h6 class="date"><i><img src="{% static 'articles/img/date.svg' %}" alt=""></i>    {{abstract.tgl}}</h6>
                    <h6 class="autor">Annotated by : {{abstract.added_by.first_name}}</h6>
                    <p class="card-text">{{abstract.anotated | truncatechars:"200" |safe}}</p>
                  </div>
                  <div class="card-footer">
                    <ul class="list-inline">
                      {% if abstract.download == not empty %}
                        <li class="list-inline-item"><i><img src="{% static 'articles/img/download.svg' %}" alt=""></i><a href="/MEDIA/{{abstract.download}}">Unduh</a></li>
                        <li class="list-inline-item"><i><img src="{% static 'articles/img/share.svg' %}" alt=""></i><a href="http://www.facebook.com/share.php?u={{ request.build_absolute_uri }}">Bagikan</a></li>
                      {% else %}
                        <li class="list-inline-item"><i><img src="{% static 'articles/img/share.svg' %}" alt=""></i><a href="http://www.facebook.com/share.php?u={{ request.build_absolute_uri }}">Bagikan</a></li>
                      {% endif %}
                    </ul>
                    <hr>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}