{% extends 'articles/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <!-- my css -->
    <link rel="stylesheet" href="{% static 'articles/css/add-annotation.css' %}">
    <link rel="stylesheet" href="{% static 'articles/css/header-footer.css' %}">
{% endblock %}

    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <img class="img-fluid w-100" src="{% static 'articles/img/add-annotatoin-landing.png' %}" alt="" srcset="">
    </div>
    <!-- end jumbotron -->


    <!-- form annotation -->
    <section class="add-annotation">
      <div class="container-fluid">
        <div class="row justify-content-md-center">
          <div class="col-md-8">
            <h3>ADD ANNOTATION</h3>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-8 form-annotation">
            <form action="" method="POST">
              {% csrf_token %}
                 <div class="col-sm-8">{{form|crispy }}</div>
                 <div class="col-sm-8 offset-2">
                    <input class="btn btn-danger" type="submit" value="submit">
                 </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- end form annotation -->

{% endblock %}
